<app-header></app-header>

<div id="input-container">
  <ng-container *ngIf="!journeyStarted">
    <span class="material-symbols-outlined search">location_searching</span>
    <input placeholder="Startpunkt" [(ngModel)]="currentStation" (ngModelChange)="getConnections()">
  </ng-container>
</div>

<div class="containers">
  <div class="container">
    <div>
      <h2>Gleis<span class="material-symbols-outlined">train</span></h2>
      <span class="number" [ngStyle]="{'cursor': this.currentStationObj === undefined ? 'not-allowed':'pointer'}" (click)="newTrack()">{{track}}</span>
    </div>
  </div>

  <div class="container">
    <div>
      <h2>Haltestellen<span class="material-symbols-outlined">subway</span></h2>
      <span class="number" [ngStyle]="{'cursor': this.currentStationObj === undefined ? 'not-allowed':'pointer'}" (click)="newStation()">{{stations}}</span>
    </div>
  </div>
</div>

<div class="future-journey-container">
  <app-future-journey [futureDestination]="futureDestination" [futureTrainTrack]="futureTrainTrack"></app-future-journey>
  <button (click)="startJourney()" *ngIf="track > 0 && stations > 0 && !journeyStarted">Reise starten</button>
</div>

<div class="container" id="info">
  <span class="material-symbols-outlined">info</span>
  <span id="info-text">Tippe auf die Zahl, um eine neue Zahl zu würfeln.</span>
</div>

<div class="button-container">
  <button (click)="newJourney()" *ngIf="journeyStarted">Neue Reise</button>
  <a routerLink="present-journey"  *ngIf="journeyStarted"><button>Bisherige Reise</button></a>
</div>
