.search {
  position: relative;
  left: 15.5rem;
  top: 0.1em;
  font-size: 1.2em;
}

#input-container {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.container {
  display: flex;
  width: fit-content;
  height: fit-content;
  text-align: center;
  margin-left: 5rem;
  margin-right: 5rem;
}

.containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  max-height: 13rem;
}

.number {
  position: relative;
  top: -2.5rem;
  font-size: 8em;
  font-weight: 700;
}

#info {
  display: flex;
  text-align: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

#info-text {
  line-height: 2.5rem;
}

#button-container > a {
  margin-top: 2rem;
}

app-roadmap {
  display: block;
  width: fit-content;
  position: absolute;
  left: 1rem;
  top: 14rem;
}

.future-journey-container {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h2 {
  cursor: pointer;
}

#current-informations {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
}

#informations-title {
  font-weight: 700;
  font-size: 1.5em;
}

#test {
  margin-top: 10rem;
}

#live {
  text-align: center;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  align-items: center;
}

#circle {
  background-color: var(--accent-color);
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin-right: 0.5rem;
  animation: live 1.8s ease-in-out infinite;
}

@media screen and (max-width: 645px) {
  .containers {
    max-height: 29rem;
  }
}
