<app-header></app-header>

<div id="live" *ngIf="journeyStarted">
  <div id="circle"></div>
  <span *ngIf="inTransfer">Transfer</span>
  <span *ngIf="!inTransfer">Umsteigen | Warten</span>
</div>
<div [@slideUp]="this.currentStation === '' ? 'down':'up'" id="input-container" *ngIf="!journeyStarted">
  <h2 *ngIf="this.currentStation === ''">Wo möchtest du starten?</h2>
  <span class="material-symbols-outlined search">location_searching</span>
  <input placeholder="Startpunkt" [(ngModel)]="currentStation" (ngModelChange)="autoComplete()" [matAutocomplete]="auto" [matTooltip]="tipStart">
  <mat-autocomplete #auto="matAutocomplete">
    <ng-container *ngFor="let option of autoCompletion">
      <mat-option [value]="option.label">
        {{option.label}}
      </mat-option>
    </ng-container>
  </mat-autocomplete>
</div>

<div @slideInOut class="containers" *ngIf="this.currentStation !== '' && !journeyStarted || changeActive">
  <div class="container" [matTooltip]="tipTrack">
    <div>
      <h2>Gleis<span class="material-symbols-outlined">train</span></h2>
      <span class="number" [ngStyle]="{'cursor': this.currentStation === '' ? 'not-allowed':'pointer'}" (click)="newTrack()">{{track}}</span>
    </div>
  </div>

  <div class="container" [matTooltip]="tipStations">
    <div>
      <h2>Haltestellen<span class="material-symbols-outlined">subway</span></h2>
      <span class="number" [ngStyle]="{'cursor': this.track > 0 && this.currentStation !== '' ? 'pointer':'not-allowed'}" (click)="newStation()">{{stations}}</span>
    </div>
  </div>
</div>

<div @slideInOut class="container" id="info" *ngIf=" this.currentStation !== '' && !journeyStarted || changeActive">
  <span class="material-symbols-outlined">info</span>
  <span id="info-text">Tippe auf die Zahl, um eine neue Zahl zu würfeln.</span>
</div>

<div class="future-journey-container" *ngIf="journeyStarted || (track > 0 && stations > 0)">
  <app-future-journey [futureDestination]="futureDestination" [futureTrainTrack]="futureTrainTrack"
                      [changeTime]="nextChange" [xCoords]="xCoords" [yCoords]="yCoords"></app-future-journey>
  <button (click)="startJourney()" *ngIf="track > 0 && stations > 0 && !journeyStarted"
          [ngStyle]="{'cursor': this.nextChange === null ? 'not-allowed':'pointer'}" [disabled]="this.nextChange === null">Reise starten</button>
</div>

<div class="button-container">
  <a routerLink="present-journey" *ngIf="journeyStarted || changeActive"><button>Bisherige Reise</button></a>
  <button (click)="newJourney()" *ngIf="journeyStarted || changeActive">Neue Reise</button>
</div>
