.future-information {
  display: flex;
  align-items: center;
  font-weight: 700;
  margin-top: -1rem;
}

#title-text {
  font-size: 0.8em;
  position: relative;
  top: -1.8rem;
}

#map-container {
  margin: 1rem;
  text-align: center;
}

#flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
