<h2>Deine Reise</h2>
<span id="title-text">geht wie folgt weiter:</span>
<div class="future-information">
  <span class="material-symbols-outlined">train</span>
  {{futureTrainTrack}}
</div>

<div class="future-information">
  <span class="material-symbols-outlined">pin_drop</span>
  {{futureDestination}}
</div>

<div class="future-information">
  <span class="material-symbols-outlined">switch_left</span>
  Umsteigen um {{changeTime | date:'HH:mm'}}
</div>

<div id="map-container">
  <iframe class="map" title="map" [src]="url | safe: 'resourceUrl'"></iframe>
</div>
