.road-map {
  display: flex;
  flex-direction: column;
}

.circle {
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background-color: #ffffff;
  margin-right: 1rem;
  border: var(--font-color) solid 1.7px;;
}

#live-circle {
  position: relative;
  left: 16.7px;
  top: 0.6px;
  height: 0.9em;
  width: 0.9em;
  border-radius: 50%;
  background-color: var(--accent-color);
}

.station {
  display: flex;
  height: 3.5rem;
}

.station-name {
  font-weight: 700;
  font-size: 1.1em;
}

.departure {
  font-size: 0.8em;
  margin-left: 0.5rem;
}

.line {
  width: 0.1em;
  background-color: #41335F;
  position: relative;
  left: 0.6rem;
  z-index: -1;
}

@keyframes move {
  100% {
    margin-top: 3.6rem;
  }
}
