<ng-container *ngIf="presentJourney.stations.length > 0; else noJourney">
  <div class="road-map" *ngFor="let station of presentJourney.stations; let i = index">
    <div class="station">
      <div *ngIf="i < presentJourney.stations.length -1" class="line"></div>
      <div class="circle" [ngStyle]="{'background-color': i  < 1 ? '#836BDB' : '', 'border': i < 1 ? 'none' : ''}"></div>
      <div class="station-name">{{station.name}}</div>
      <div *ngIf="showDeparture && i < presentJourney.stations.length -1" class="departure">{{station.departure}}</div>
    </div>
  </div>
</ng-container>

<ng-template #noJourney>
  <h4>Du hast noch keine Reise unternommen.</h4>
</ng-template>

