.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2rem;
  margin-left: 2rem;
  margin-right: 2rem;
}

#containers {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}



.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2rem;
}
