/* You can add global styles to this file, and also import other style files */
:root {
  --font-color: #41335F;
  --accent-color: #836BDB;
}

body {
  color: var(--font-color);
  font-family: basic-sans, sans-serif;
}
