/* You can add global styles to this file, and also import other style files */
:root {
  --font-color: #41335F;
  --accent-color: #836BDB;
}

body {
  color: var(--font-color);
  font-family: basic-sans, sans-serif;
}

input {
  border-radius: 30px;
  border: var(--accent-color) solid 1.5px;
  text-decoration: none;
  outline: none;
  color: var(--font-color);
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 5px 10px #E7E7E7;
  font-size: 1.1em;
  padding: 0.9em;
  width: 15rem;
  height: 1rem;
}

button {
  outline: none;
  border: var(--accent-color) solid 1.5px;
  color: var(--font-color);
  text-decoration: none;
  text-align: center;
  background-color: rgba(0, 0, 0, 0);
  box-shadow: 0 5px 10px #E7E7E7;
  padding: 0.6rem 1.5rem;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 1rem;
}

h2 {
  font-size: 1.9em;
  display: flex;
  align-items: center;
}

.material-symbols-outlined {
  margin: 0.5rem;
}

.button-container {
  width: fit-content;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 2rem;
}

.map {
  border: none;
  border-radius: 30px;
  box-shadow: 0 5px 10px #E7E7E7;
  width: 60vw;
  height: 15rem;
  max-width: 30rem;
}

app-dashboard {
  height: 100vh;
}

app-present-journey {
  height: 100vh;
}

app-footer {
  position: sticky;
  bottom: 0;
}

@keyframes live {
  50% {
    opacity: 10%;
  }
}
